html {
  position: relative;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: Inter, sans-serif;
  min-width: 320px;
  min-height: 100vh;
  background-color: #F2F0F9;
  color: #FFFFFF;
}

img, svg {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, figure, fieldset {
  margin: 0;
  margin-bottom: 20px;
}

p {
  line-height: 24px;
  margin-top: 0;
}

iframe {
  border: none;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}

.product__fieldset {
  background-color: #fff;
  border: none;
  border-radius: 8px;
}

.product__title {
  color: #6E6893;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 30px 0;
}

.product__p-text {
  color: #6E6893;
  font-size: 12px;
  line-height: 14px;
  margin: 5px;
  padding-left: 10px;
  text-transform: uppercase;
  font-weight: 500;
}

.product__input {
  width: 100%;
  height: 40px;
  border: none;
  background-color: #F4F2FF;
  border-radius: 8px;
  margin-bottom: 12px;
}

.product__textarea {
  width: 100%;
  height: 112px;
  border: none;
  background-color: #F4F2FF;
  border-radius: 8px;
  margin-bottom: 12px;
}

.product__input-desc {
  width: 100%;
  height: 40px;
  border: none;
  background-color: #EEEEEE;
  border-radius: 8px;
  margin-bottom: 12px;
}

.desc {
  display: flex;
  width: 580px;
}

.desc .product__input-desc {
  flex: 1;
}

.add-item {
  width: 580px;
  text-align: right;
}

.product__button {
  background-color: #6D5BD0;
  color: white;
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 8px;
  margin-right: 20px;
  font-size: 16px;
  text-transform: uppercase;
}

.product__checkbox-input {
  width: 40px;
  height: 40px;
}

.product__checkbox-input {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.product__checkbox-input:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #F4F2FF;
  border-radius: 8px;
}

.product__checkbox-input:after {
  content: '';
  position: absolute;
  top: 12px;
  left: 10px;
  width: 20px;
  height: 10px;
  border: 3px solid black;
  border-top: none;
  border-right: none;
  opacity: 0;
  transform: rotate(-45deg);
}

.checkbox__input:after {
  content: '';
  position: absolute;
  top: 12px;
  left: 10px;
  width: 20px;
  height: 10px;
  border: 3px solid black;
  border-top: none;
  border-right: none;
  opacity: 0;
  transform: rotate(-45deg);
}

.product__checkbox-input:focus-visible {
  outline: none
}

.product__checkbox-input:checked:after {
  opacity: 1
}

.product__checkbox-input:focus:before {
  box-shadow: 0px 0px 10px rgba(113, 0, 227, 0.5);
}

.product__checkbox-input:hover:not(:disabled):before {
  box-shadow: 0px 0px 10px rgba(0, 113, 227, 0.5);
}

.product__checkbox-input:disabled:before {
  background-color: #cccccc;
}